doctype html
html
  head
    title Categorias
  body
    h1= category.title
    p= category.color
    ul
      each task in category.tasks
        li= task.description

    form(action=`/categories/${category.id}?_method=DELETE` method="POST")
      input(type="submit" value='Borrar')
